SCENETRACE_MODE=mock
SCENETRACE_MEDIA_DIR=./media
SCENETRACE_CORS_ORIGINS=http://localhost:5173
VAST_API_URL=
VAST_API_KEY=
NVIDIA_API_KEY=
WANDB_API_KEY=
WANDB_MODEL=
SEARCH_TIMEOUT_SECONDS=15
REASONING_TIMEOUT_SECONDS=25
